@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center my-5">
    <div class="p-5 bg-light rounded-3 shadow-sm border">
        <h1 class="display-4 text-primary fw-bold">Bienvenido a "La Económica"</h1>
        <p class="lead mt-3 text-secondary">
            Sistema Web de Gestión de Inventarios y Productos.
        </p>
        <hr class="my-4">
        <div class="mt-4">
            <a class="btn btn-primary btn-lg shadow-sm" asp-controller="Productos" asp-action="Index">
                <i class="bi bi-box-seam"></i> Ir a Gestión de Productos
            </a>
        </div>
    </div>
</div>